<div *ngIf="!(client$ |async)">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <label>login : </label>
    <input type="text" formControlName="login" name="login">
    <br/>
    <label>password : </label>
    <input type="text" formControlName="password" name="password">
    <br/>
    <br/>
    <button type="submit">Submit</button>
    <br/>
  </form>
</div>
<div *ngIf="client$ | async as client">Login : {{client.login}}
  <br/>
  Email : {{client.email}}
  <br/>
  Firstname : {{client.firstname}}
  <br/>
  Lastname : {{client.lastname}}
  <br/>
  Phone : {{client.phone}}
  <br/>

</div>
